# Dependencias
node_modules/

# Ambiente
.env
.env.local
.env.development
.env.production

# Prisma
prisma/dev.db
prisma/*.db-journal

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# Compilado
dist/

# Archivos temporales
*.tmp
*.temp

# Carpeta personal
info/


# ===== Flutter - Front =====
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# IDE
**/.idea/
**/*.iml

# Firebase / Google credentials
backend/firebase/service-account.json
